# IDE specific cache
.vscode/
.idea/

# Compiled output directories
bin/
out/

# Compiled output directories in all subfolders
**/bin/
**/out/
**/target/
**/build/

# Bytecode files in all subfolders
**/*.class
